*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.new-user{
    cursor: pointer;
    color: red;
}

.do-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.do-new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back{
    cursor: pointer;
    color: red;
}